<div class="container">

  <div class="show-card">
    <!-- <div class="top-image"> -->
      <%= cl_image_tag @cocktail.photo.key, height: 300, crop: :fill %>
    <!-- </div> -->
    <div class="line"></div>
    <div class="bottom-text">
      <h2 class="purple-title"><%= @cocktail.name %></h2>
      <div class="small-line"></div>
      <div class="flexbox">
        <div class="ingredients">
          🍹 <%= pluralize(@cocktail.doses.count, "ingredient") %>
        </div>
        <div class="description font-14">
          <ul>
            <% @cocktail.doses.each do |dose| %>
              <li><%= dose.description %> <%= dose.ingredient.name %> <%= link_to "x", dose_path(dose), method: :delete, class: "red-cross" %> </li>
            <% end %>
          </ul>
        </div>
      </div>
      <button type="button" class="btn-link small-width" data-toggle="modal" data-target="#myModal">
        Add a dose
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add a dose</h4>
            </div>
            <div class="modal-body">
              <%= simple_form_for [@cocktail, @dose] do |f| %>
                <%= f.input :description %>
                <%= f.association :ingredient, input_html: { class: 'select2' } %>
                <%= f.submit class: "btn-link small-width" %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="small-line"></div>

    <div class="reviews bottom-text">

      <% if @cocktail.reviews.count == 0 %>
        <h3 class="center-title">What did you think?</h3>
      <% else %>
        <h3 class="center-title">They loved it!</h3>
      <% end %>
      <ul>
        <% @cocktail.reviews.each do |review| %>
          <li><%= review.description %> <%= "⭐️"*review.rating %></li>
        <% end %>
      </ul>
      <button type="button" class="btn-link small-width" data-toggle="modal" data-target="#myDoseModal">
        Add a review
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myDoseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Add a review</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <%= simple_form_for [@cocktail, @review] do |f| %>
                <%= f.input :description %>
                <fieldset class="form-group radio_buttons optional review_rating">
                  <legend class="col-form-label pt-0">Rating</legend><input type="hidden" name="review[rating]" value="" />
                  <div class="radio-inline">

                    <div class="form-check">
                      <input class="form-check-input radio_buttons optional" type="radio" value="1" name="review[rating]" id="review_rating_1" />
                      <label class="form-check-label collection_radio_buttons" for="review_rating_1">1</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input radio_buttons optional" type="radio" value="2" name="review[rating]" id="review_rating_2" />
                      <label class="form-check-label collection_radio_buttons" for="review_rating_2">2</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input radio_buttons optional" type="radio" value="3" name="review[rating]" id="review_rating_3" />
                      <label class="form-check-label collection_radio_buttons" for="review_rating_3">3</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input radio_buttons optional" type="radio" value="4" name="review[rating]" id="review_rating_4" />
                      <label class="form-check-label collection_radio_buttons" for="review_rating_4">4</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input radio_buttons optional" type="radio" value="5" name="review[rating]" id="review_rating_5" />
                      <label class="form-check-label collection_radio_buttons" for="review_rating_5">5</label>
                    </div>
                  </div>
                </fieldset>
                <%= f.submit class: "btn-link small-width" %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= link_to "Back to cocktails", root_path, class: "secondary-link small-width" %>
  </div>
</div>
